<!DOCTYPE html>
<html lang = "es">
    <head>
        <meta charset="utf-8">
        <title>Proyecto integrador</title>
        <meta name="viewport" content="jja">
        <link rel="icon" href="favicon-16x16.png" type="image/png" sizes="16x16"/>
        <link rel="stylesheet" href="/static/inteus.css">
    </head>
    <script>
        //alert("Registro exitoso, porfavor inicia sesion")
    </script>
    <body>
        <link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
        
        <div class="login">
        <div class="login-header">
            <h1>Acceso</h1>
        </div>
        <div class="login-form">
            <form method="post">
                <h3>Nombre de usuario:</h3>
                    <input type="text" name="user" placeholder="Username"/><br>
                <h3>Contraseña:</h3>
                    <input type="password" name="contra" placeholder="Password"/>
                <br>
                    <button type="submit" value="Ingresar" href="/inicio" class="login-button">Ingresar</button>
                <br>
                    <a class="sign-up" href="/registro">Registrarse!</a>

            <div style="height: 162px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C197.51,143.59 448.64,121.88 503.38,-24.16 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: rgb(81, 123, 160);"></path></svg></div>
            <br>
            </form>
        </div>
        
        
    </body>
</html>
