<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Proyecto integrador</title>
        <link rel="stylesheet" href="/static/csspi.css"/>
        <link rel="icon" href="favicon1-16x16.png" type="image/png" sizes="16x16"/>
        <style>
            header{
                width: 100%;
                height: 600px;
                background: #3E5151;  /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, hsla(40, 48%, 76%, 0.63), hsla(180, 13%, 28%, 0.623)), url(/static/img/imgaenn.jpg);  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, hsla(40, 48%, 76%, 0.63), hsla(180, 13%, 28%, 0.623)), url(/static/img/imgaenn.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                background-size: cover;
                background-attachment: fixed;
                position: relative;
            }
        </style>
    </head>
    <body>
        <link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
        <header>
            <nav>
                <a href="#">Inicio</a>
                <a href="/ingresar">Ingresar</a>
                <a href="/registro">Registrarse</a>
                
                
                
            </nav>
            <section class="textos-header">
                <h1>ADMIVO</h1>
                <h2>La mejor aplicación web para la administración de colectivos</h2>
            </section>
            <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C233.07,200.83 38.94,-12.31 503.94,87.34 L507.34,152.47 L0.00,150.00 Z" style="stroke: none; fill:   rgb(96, 190, 174);"></path></svg></div>
        </header>
        <main>
            <section class="contenedor sobre-nosotros">
                <h2 class="titulo">Quienes somos</h2>
                <div class="contenedor-sobre-nosotros">
                    <img src="/static/img/JOEL.png" width="500px" height="250px" class="imagen-about-us">
                    <div class="contenido-textos">
                        <h3><span>-</span>Grupo de estudiantes</h3>
                        <p>Somos un grupo de estudiantes de la universidad tecnológica de Tulancingo de TSU en tecnologías de la información enfocados en crear una solucióna al problema del robo hormiga en los colectivos por medio de las herramientas tecnológicas como el WORKBENCH :)</p>
                        <h3><span>-</span>Nuestro objetivo</h3>
                        <p>Facilitar al cliente la administración y control financiero de sus unidades por medio de una aplicación web diseñada para optimizar gastos, aumentar la productividad de los vehículos y mantener una seguridad y exactitud en los ingresos totales.</p>
                    </div>
                </div>
            </section>
            <section class="about-services">
                <div class="contenedor">
                    <h2 class="titulo">¿Qué es ADMIVO?</h2>
                    <div class="servicio-cont">
                        <div class="servicio-ind">
                            <img src="/static/img/servicio-al-cliente.png" width="500px" height="400px">
                            <h3>Minimiza el error humano</h3>
                            <p>Mantén registro de todos tus cobros y la seguridad del usuario.</p>
                        </div>
                        <div class="servicio-ind">
                            <img src="/static/img/pngegg.png" width="500px" height="400px">
                            <h3>Análisis y generación de reportes</h3>
                            <p>Muestra todos los costos asociados con un colectivo determinado. Obtén información muy útil sobre el rendimiento real de cada colectivo para mejorar las inversiones en tu flota.</p>
                        </div>
                        <div class="servicio-ind">
                            <img src="/static/img/rrr.png" width="500px" height="400px">
                            <h3>Sistema de conteo de pasajeros</h3>
                            <p>Contador de pasajeros para ningun robo más, incrementa tus ingresos. Planifica mejor las rutas y optimiza tus tiempos.</p>
                        </div>
                    </div>
                </div>
            </section>
        </main>  
        <footer>
            <div class="contenedor-footer">
                <div class="content-foo">
                    <h4>Correo electrónico</h4>
                    <p>javipro74@hotmail.com</p>
                </div>
                <div class="content-foo">
                    <h4>Teléfono</h4>
                    <p>7751234356</p>
                </div>
                <div class="content-foo">
                    <h4>Ubicación</h4>
                    <p>Tulancingo,HGO</p>
                </div>
            </div>
            <h2 class="titulo_final">&copy; Oscar Orta | Jesus Yael | Javier Toriz | CBUM </h2>
        </footer> 
    </body>
</html>
