<form method="POST" id="formulario">
<label for="transporte">Elige tu medio de transporte</label>
<select id="transporte" name="transporte">
  <option value="wheelchair">Silla de ruedas</option>
  <option value="driving-car">Vehiculo</option>
  <option value="foot-walking">Caminando</option>
</select>
<br>
<label>Punto de inicio: </label>
<input type="text" name="inicio">
<br>
<label>Punto de destino </label>
<input type="text" name="final">
<br>
<input type="submit" value="Mostrar">
</form>
<h1></h1>
